<center>

	<h2>{{name}}</h2>

	<ul>
		{{#each links}}
			{{#if url}}
				<li>
					<a
						href='{{url}}'
						target='_blank'
						rel='noopener noreferer'
					>{{name}}</a>
				</li>
			{{/if}}
		{{/each}}
	</ul>
</center>