<h2>Login</h2>

<form method='post'>
	<label style='display: block;'>
		Email
		<input type='email' name='email' required />
	</label>

	<label style='display: block;'>
		Password
		<input type='password' name='password' required min='8' />
	</label>

	<button type='submit'>Login</button>
</form>

<strong style='color: red;'>{{error}}</strong>

<div>
	Don't have an account?
	<a href='/register'>Register</a>
</div>