<h2>Create New Bio</h2>

<form method='post'>
	<label>
		Name
		<input type='text' name='name' required />
	</label>

	<label>
		Instagram
		<input type='url' name='instagram' />
	</label>

	<label>
		Twitter
		<input type='url' name='twitter' />
	</label>

	<label>
		Linkedin
		<input type='url' name='linkedin' />
	</label>

	<label>
		Github
		<input type='url' name='github' />
	</label>

	<button type='submit'>Create</button>
</form>