<h2>Register</h2>

<form action='/api/register' method='post'>
	<label style='display: block;'>
		Email
		<input type='email' name='email' required />
	</label>

	<label style='display: block;'>
		Password
		<input type='password' name='password' required min='8' />
	</label>

	<button type='submit'>Register</button>
</form>