<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/pico.min.css">

    <style>
        html {
            font-family: sans-serif;
        }

	.icons li{
		all: initial;
		display: inline;
	}
		.icons li .fab:hover{
    color: #fff;
}

.icons li a{
   
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:white;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
	padding-top: 15px;
	margin-right:10px ;
}

.icons li a:hover{
    transform: translate(0, -10%);
}

.icons li a:hover{
    background-color: #0077b5;
}
    </style>
</head>
<body class="container">
	<nav>
		<ul>
			<li><strong><a href="/">URL Shortener</a></strong></li>
		</ul>
		<ul>
			<li><a href='/docs' target="_blank">API Docs</a></li>
			{{#if isLoggedIn}}
				<li><a href='/new/bio'>New Bio-Link</a></li>
				<li><a href='/logout'>Logout</a></li>
			{{else}}
				<li><a href='/login'>Login</a></li>
				<li><a href='/register'>Register</a></li>
			{{/if}}
		</ul>
	</nav>

    <main>
        {{{body}}}
    </main>
</body>
</html>